# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data Files
data/

# Executables
*.zip

# Test CSV
final_data.csv
extracted_info.csv
extracted_text_data.csv
extracted_text_data_run_1.csv
vocabulary.txt
.DS_Store
